body {
    width: 700px;
    padding-left: 50px;
    background-color: #aaaaff;
    font-family: Comic Sans MS, Tahoma, Helvetica, sans-serif;
    }

p  {
}

code {
        color: #880000;
    }
    
 a {
    text-decoration: none;
    }
    
a:visited{
    color: blue;
}
