body {
    width: 700px;
    padding-left: 50px;
    background-color: #aaaaff;
    font-family: 'Comic Sans MS', Tahoma, Helvetica, sans-serif;
    }

p  {
}

.ics3{
   font-family: ICS3; 
   word-wrap: break-word;
}
code {
        color: #880000;
    }
    
 a {
    text-decoration: none;
    }
    
a:visited{
    color: blue;
}

img {
  max-width:100%;
  max-height:100%;
}
